---
import AppLayout from "@/layout/AppLayout.astro";
import MainLayout from "@/layout/MainLayout.astro";
import CardCarousel from "@/components/EmblaCardCarousel";
import type { Property, User, Images, PropertyFeature, Agency } from "@/types";
import { PUBLIC_API_URL } from "astro:env/client";
import {  Bath, Bed, Share2 as Share } from "lucide-react";
import { FavoritesToggle } from "@/components/FavoritesToggle";
import { PropertyLeafletMap } from "@/components/PropertyLeafletMap";
import { AgentSidebar } from "@/components/AgentSidebar";

const { id } = Astro.params;
const token = Astro.cookies.get("session")?.value;

type TProperty =  Property & {owner: Partial<User & {agency: Partial<Agency>}>} & {images: Array<Partial<Images>>}  & {favorites: Array<{id: string}>} & {features: Array<PropertyFeature>}

let property = {} as TProperty
let fetchError = false

try {
    const result = await fetch(`${PUBLIC_API_URL}/listings/${id}`, {
        headers: {
            "Content-Type": "application/json",
        },
    });
    if (!result.ok) throw new Error("Failed to fetch listings");
    property = await result.json();
} catch (e) {
    console.error("Fetch failed:", e);
    fetchError = true;
}

const metaTitle = !fetchError ? `Property ${property.propertyTitle} | RealEstate by Alfath Muqoddas` : "Error Loading Property";
const metaDescription = !fetchError ? `Property ${property.propertyDeskripsi} | RealEstate by Alfath Muqoddas` : "Error Loading Property";
const metaImage = !fetchError ? property.images[0].imageUrl : "https://picsum.photos/seed/wkejrer/1280/720";

const propertyFacts = [
    {
        title: "Property Type",
        value: property.propertyType === "apartemen" ? "Apartemen" : "Rumah",
    },
    {
        title: "Carport",
        value: property.propertyCarport || "1",
    },
    {
        title: "Ownership Certificate",
        value: property.propertyTipeSertifikat,
    },
    {
        title: "Power Rating",
        value: property.propertyDayaListrik,
    },
    {
        title: "Furniture",
        value: property.propertyPerabotan
    }
];

---
<AppLayout>
    <title slot="head">{metaTitle}</title>
	<meta slot="head" name="title" content={metaTitle} />
	<meta slot="head" name="description" content={metaDescription} />
	<!-- opengraph meta -->
	 <meta slot="head" property="og:type" content="website" />
	<meta slot="head" property="og:url" content={Astro.url.href} />
    <meta slot="head" property="og:image" content={metaImage} />
	<meta slot="head" property="og:title" content={metaTitle} />
	<meta slot="head" property="og:description" content={metaDescription} />

	<!-- twitter meta -->
	<meta slot="head" property="twitter:card" content="summary_large_image" />
	<meta slot="head" property="twitter:url" content={Astro.url.href} />
    <meta slot="head" property="twitter:image" content={metaImage} />
	<meta slot="head" property="twitter:title" content={metaTitle} />
	<meta slot="head" property="twitter:description" content={metaDescription} />
    <MainLayout>
        {
            fetchError ? 
                <article class="mt-10 text-center">Oops! We couldn't load the property. {PUBLIC_API_URL} is down or your internet connection is slow.</article>
            : 
                <article>
                    {/* hero section */}
                   <div class="grid grid-cols-1 md:grid-cols-4 md:grid-rows-3 gap-2 rounded-2xl overflow-hidden">

                    {/* 🔥 Main carousel (dominant) */}
                    <div class="md:col-span-3 md:row-span-3">
                        <CardCarousel client:load images={property.images} />
                    </div>

                    {/* 📸 Supporting images */}
                    {
                        property.images.slice(1, 4).map((img) => (
                        <figure class="col-span-1 h-full">
                            <img
                            src={img.imageUrl}
                            alt={img.id}
                            class="w-full h-full object-cover"
                            width="480"
                            height="320"
                            />
                        </figure>
                        ))
                    }
                    </div>

                    <section class="flex flex-col md:flex-row gap-6 mt-6">

                    {/* property info section */}
                    <section class="md:basis-2/3">
                        
                        <div class="p-6 bg-white rounded-2xl shadow-lg flex flex-col gap-6">
                            {/* property price */}
                            <span class="self-start px-4 py-1 rounded-full bg-gray-100 text-sm">{property.propertyType.charAt(0).toUpperCase() + property.propertyType.slice(1)}</span>

                            <div class="flex justify-between items-start">
                                <div>
                                    <h1 class="text-2xl font-bold text-primary">Rp. {property.propertyPrice.toLocaleString("id-ID")}</h1>
                                    <p class="font-semibold text-muted-foreground tracking-tight border-gray-200">{property.propertyAddressProvince}, {property.propertyAddressCity}</p>
                                </div>

                                <div class="flex gap-2">
                                    {/* sharing button */}
                                    <div class="flex size-8 items-center justify-center bg-gray-100 rounded-full">
                                        <Share className="size-4" />
                                    </div>
                                    <FavoritesToggle client:visible initialFavorite={!!property.favorites?.length} token={token ?? ""} propertyId={property.id}/>
                                </div>
                            </div>

                            {/* property info */}
                            <div class="flex gap-4 font-heading text-sm py-4 border-y">
                                <div class="flex gap-1 items-center">
                                    <Bed className="size-4" />
                                    <span class="font-bold">{property.propertyKamarTidur}</span>
                                </div>
                                <div class="flex gap-1 items-center">
                                    <Bath className="size-4" />
                                    <span class="font-bold">{property.propertyKamarMandi}</span>
                                </div>
                                <div class="flex gap-1 items-center">
                                    <p>LB</p>
                                    <span class="font-bold">{property.propertyLuasBangunan} m<sup>2</sup></span>
                                </div>
                                    <div class="flex gap-1 items-center">
                                    <p>LT</p>
                                    <span class="font-bold">{property.propertyLuasTanah} m<sup>2</sup></span>
                                </div>
                            </div>

                            {/* property description */}
                            <div class="flex flex-col gap-2">
                                <h1 class="text-xl font-bold tracking-tight">Abut this property</h1>
                                <p class="text-sm text-muted-foreground">{property.propertyDeskripsi}</p>
                            </div>

                            {/* property facts */}
                            <div class="p-4 rounded-xl bg-gray-100 flex flex-col gap-2">
                                <h1 class="text-lg font-bold tracking-tight">Property Facts</h1>
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8">
                                    {
                                        propertyFacts.map((fact) => (
                                            <div class="flex w-full text-sm py-2 border-b border-gray-100"> 
                                                <div class="flex flex-1 items-center justify-between gap-4 border-b pb-1">
                                                    <p class=" text-gray-600">{fact.title}</p>
                                                    <span class="font-bold text-right">{fact.value ?? "-"}</span>
                                                </div>
                                            </div>
                                        ))
                                    }
                                </div>
                            </div>

                            {/* key features */}
                            <div class="flex flex-col gap-2">
                                <h1 class="text-xl font-bold tracking-tight">Key Features</h1>
                                {property.features.length > 0 ? (
                                <div class="grid grid-cols-3 gap-2">
                                    {
                                        property.features.map((feature) => (
                                            <div class="flex flex-col items-center justify-center gap-2 rounded-xl bg-gray-100 p-4 text-center">
                                                <div class="text-center">
                                                    <p>{feature.feature.featureIcon}</p>
                                                    <p class="font-bold text-sm">{feature.feature.featureName}</p>
                                                </div>
                                            </div>
                                        ))
                                    }
                                </div>) : (
                                    <div class="text-center">
                                        <p>Property features hasn't been added yet</p>
                                    </div>
                                )}
                            </div>

                            {/* property location */}
                            <div class="flex flex-col gap-2">
                                <h1 class="text-xl font-bold tracking-tight">Location</h1>
                                <PropertyLeafletMap lat={property.propertyAddressLat} lon={property.propertyAddressLon} client:only="react" />
                            </div>
                        </div>
                    </section>

                    {/* agent section */}
                    <section class="md:basis-1/3 shrink-0">
                        <div class="p-4 bg-white rounded-2xl shadow-lg flex flex-col">
                            <AgentSidebar agent={property.owner} agency={property.owner.agency} client:visible/>
                        </div>
                    </section>
                </section>
            </article>
        }
    </MainLayout>
</AppLayout>